{% extends 'base.html.twig' %}

{% block body %}
<div id="containerAccount">
    <div class="accountColumn" id="panelColumn">
        {% include "accountPage/accountPanel.html.twig" %}
    </div>
    <div class="accountColumn">
        <div id="contentContainer">
            {% include "accountPage/accountInfo.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/account.js') }}"></script>
{% endblock %}
