<div id="footer">
	<img src="{{asset('./images/logo.svg')}}" id="logoFooter" alt="Logo TravelProjet"/>

	<div id="footerLink">
		<a href="/homepage" class="link">Accueil</a>
		<a href="/search" class="link">Trouver un vol</a>
		<a href="/account" class="link">Mon compte</a>
	</div>

	<p id="textSympa">
		Explorez le monde avec ProjetTravel ! 
		<br> Votre destination de rêve pour des réservations de vols simples, rapides et abordables.
	</p>

	<p id="copyright"> Hakim Meddah - Morgane Formentel - Max Hochart <br> Profil Fil Rouge  - AFPA DWWM 2023</p>
</div>
