<div id="navBar">
	<a href="/homepage" class="navBtn"><img src="{{asset('./images/homeLogo.svg')}}" alt="Home image"></a>
	<img src="{{asset('./images/logoBlue.png')}}" class="navBtn" id="navLogo" alt="Logo TravelProjet"/>
	<a href="/account" class="navBtn"><img src="{{asset('./images/accountLogo.svg')}}" alt="Account image"></a>
</div>
